@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  margin-top: 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
}

body {
  background-image: linear-gradient(
      rgba(166, 166, 166, 0.12) 2px,
      transparent 2px
    ),
    linear-gradient(to right, rgba(166, 166, 166, 0.12) 2px, transparent 2px);
  background-size: 62px 62px;
  background-color: #fffefe;
}
